<footer>
    <div class="f-info footer ">
        <div class="f-info-social ">
            <p>English(IN)</p>
            <div class="f-info-social-icon">
                &#x20B9; INR  
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-square-instagram"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-facebook-messenger"></i>
            </div>
        </div>
        <div>&copy; Go private limited </div>
        <div class="f-info-links">
            <a href="">Privacy</a>
            <a href="">Terms</a>
            <a href="">Sitemap</a>
            <a href="">Company details </a>
        </div>

    </div>
</footer>